{
    "EnableAutoSyncUsers": false,
    "ClientId": "LegacyAuthentication",
    "ClientSecret": "",
    "ShouldEmptyPassword": false,
    "ShouldValidateAvailableCompanies": false,
    "TenantDatabases": [

    ]
}