{
    "MaxAttempts": 3,
    "SchedulerTimeInSeconds": 15,
    "DatabasePath": "/app/data",
    "ErrorPath": "/app/errors/",
    "FailedEmailSmtpSettings": {
        "SmtpPort": "",
        "SmtpHostName": "",
        "SmtpUserName": "",
        "SmtpPassWord": "",
        "FromAddress": ""
    }
}