{
  "ExceptionLoggerSchedulerInMinutes": "1",
  "GravaLogScheduler": "01:00",
  "ParametrosScheduler": "01:30",
  "SqlTablesScheduler": "02:00",
  "SysDdlScheduler": "02:30",
  "TransactionSchedulerInMinutes": "60",
  "UserTrackingScheduler": "03:00"
}