{
  "Authorization": {
    "Secret": "{{ secret }}"
  },
  "CmsUrl": "https://strapi.korp.com.br",
  "TimeToRefreshContentInMinutes": "60",
  "UpdateStaticFilesTime": "04:00",
  "CheckEnvironmentAuthorization": {
    "Secret": "{{ services_secrets['Viasoft.WelcomePage.Dashboard'].CheckEnvironmentAuthorization.Secret }}",
    "Client": "{{ services_secrets['Viasoft.WelcomePage.Dashboard'].CheckEnvironmentAuthorization.ClientId }}"
  }
}