{
    "Logging": {
        "Level": "Warning"
    },
    "DatabaseLogLevel": "Error",
    "OnPremiseMode": true,
    "RuntimeEnvironment": "development",
    "SecretManager": {
        "Path": "/app/SecretManager/",
        "RefreshRolesFrequencySeconds": "300"
    },
    "GatewayUrl": "https://gateway.korp.com.br",
    "CORS": "http://localhost:4200",
    "Authentication": {
        "Authority": "https://korp-api/oauth",
        "IntrospectionSecret": "{{ general.introspection_secret }}"
    },
    "IntervaloHealthCheckSegs": "60",
    "RemoverServicoAposFalhaSegs": "60",
    "ServiceBus": {
        "Transport": {
            "Adapter": "rabbitmq",
            "Hostname": "amqp://{{ rabbitmq.korp_user }}:{{ rabbitmq.korp_password }}@{{ rabbitmq_container_name }}"
        }
    },
    "Sentry": {
        "CanInitSentry": "false",
        "Dsn": ""
    },
    "SqlIdleConnections": "10",
    "SqlTimeKillConnectionInMin": "5",
    "Caching": {
        "Endpoints": "{{ redis_container_name }}:6379",
        "Password": "{{ redis.password }}"
    }
}