{
    "Authorization": {
        "Secret": "{{ secret }}"
    },
    "AutoUpdateScheduler": "23:45",
    "ClientId": "",
    "ClientSecret": "",
    "ConnectionStrings": {
        "DefaultConnection": "host={{ postgres_container_name}} user={{ postgres.korp_user }} password={{ postgres.korp_password }} dbname=%s port=5432"
    },
    "PostgresDatabaseName": "korp.legacy.tenantmanagement"
}