{
  "Authorization":{
    "Secret":"{{ secret }}"
  },
  "ServiceBus":{
    "StorageConnectionString":"Server=db_mssql,1433; Database=Viasoft_Authorization; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; MultipleActiveResultSets=true; Encrypt=False"
  },
  "ConnectionStrings":{
    "DefaultConnection":"Server=db_mssql,1433; Database=Viasoft_Authorization; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False"
  },  
  "Provisioning":{
    "EnableSchemaProvisioning": "false"
  },
  "SkipEnvironmentMigration": "true",
  "SkipRootUserMigration": "true",
  "AuthorizationsSync": {    
    "ClientId": "{{ services_secrets['Viasoft.Legacy.Authorization'].ClientId }}",
    "ClientSecret": "{{ services_secrets['Viasoft.Legacy.Authorization'].ClientSecret }}",
    "Scope": "{{ services_secrets['Viasoft.Legacy.Authorization'].ClientId }}"
  }
}