version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-audittrail-client:
    image: "{{ docker_account }}/viasoft.audittrail.client:3.2.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Audittrail.Client"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
      # Caso seja alterado o caminho dentro do container, deve-se atualizar o código do serviço
      - "{{ dados_docker_dir_path }}/viasoft-audittrail-client/:/app/data/"
    networks:
      - servicos

  viasoft-email:
    image: "{{ docker_account }}/viasoft.email:1.4.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Email"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
      # Caso seja alterado o caminho dentro do container, deve-se atualizar as props 'DatabasePath' e 'ErrorPath' no KV do consul
      - "{{ dados_docker_dir_path }}/viasoft-email/data/:/app/data"
      - "{{ dados_docker_dir_path }}/viasoft-email/errors/:/app/errors"
    networks:
      - servicos

  korp-legacy-authentication:
    image: "{{ docker_account }}/korp.legacy.authentication:1.5.x{{ docker_image_suffix }}"
    container_name: "Korp.Legacy.Authentication"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
    networks:
      - servicos

  viasoft-legacy-httpproxy:
    image: "{{ docker_account }}/viasoft.legacy.httpproxy:1.2.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Legacy.Httpproxy"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
      - HTTP_PORT=1505
    ports:
      - "1505:1505"
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
    networks:
      - servicos

  viasoft-welcomepage-dashboard:
    image: "{{ docker_account }}/viasoft.welcomepage.dashboard:1.4.x{{ docker_image_suffix }}"
    container_name: "Viasoft.WelcomePage.Dashboard"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
    networks:
      - servicos

  viasoft-systemupdate:
    image: "{{ docker_account }}/viasoft.systemupdate:1.2.x{{ docker_image_suffix }}"
    container_name: "Viasoft.SystemUpdate"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
      - "{{ korp_dir_path }}/atualizacao-sistema/:/etc/korp/atualizacao-sistema/"
    networks:
      - servicos
