version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "{{ frontend.dns.api }}:$API_GATEWAY"
  - "{{ frontend.dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ frontend.dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  korp-integration-solidworks:
    image: "korp/korp.integration.solidworks:1.3.x{{ docker_image_suffix }}"
    container_name: "Korp.Integration.SolidWorks"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - URL_GATEWAY={{ frontend.endpoints.gateway_url }}
      - URL_CDN={{ frontend.endpoints.cdn_url }}
      - URL_LOADER={{ frontend.endpoints.frontend_url }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos
