version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-fiscal-core:
    image: "{{ docker_account }}/viasoft.fiscal.core:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Fiscal.Core-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-taxmanagement:
    image: "{{ docker_account }}/viasoft.taxmanagement:2.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.TaxManagement"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
  
