version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"
  - "{{ dns.api_gateway }}:$API_GATEWAY_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  TRAC01:
    image: "{{ docker_account }}/korp.sales.tracking-frontend:1.0.x{{ docker_image_suffix }}"
    container_name: "TRAC01"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - GATEWAY_URL={{ frontend.endpoints.gateway_url }}
      - CDN_URL={{ frontend.endpoints.cdn_url }}
      - FRONTEND_URL={{ frontend.endpoints.frontend_url }}
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
  
  korp-sales-tracking:
    image: "{{ docker_account }}/korp.sales.tracking:1.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Sales.Tracking"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-sales-tracking-gateway:
    image: "{{ docker_account }}/korp.sales.tracking.gateway:1.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Sales.Tracking.Gateway"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"