# Arquivo de logs do script certs_reload.sh
{{ certs_directory }}/logs/certs_reload.log {
  daily
  notifempty
  dateext
  dateformat -%d-%m-%Y
  rotate 2
  notifempty
  create 0664 korp root
}

{% if certs.certbot_automated.certificate %}



{% elif certs.self_signed.certificate %}

# arquivos de logs do arquivo cert_renew.sh para certificado AutoAssinado
{{ certs_directory }}/logs/self_signed_renew.log {
  daily
  notifempty
  dateext
  dateformat -%d-%m-%Y
  rotate 2
  notifempty
  create 0664 korp root
}

{% elif certs.custom.certificate %}


{% endif %}
