version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-sales-core:
    image: "{{ docker_account }}/viasoft.sales.core:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.Core-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-customerportfolio:
    image: "{{ docker_account }}/viasoft.sales.customerportfolio:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CustomerPortfolio-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-discount:
    image: "{{ docker_account }}/viasoft.sales.discount:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.Discount-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-pricelist:
    image: "{{ docker_account }}/viasoft.sales.pricelist:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.PriceList-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/" 

  viasoft-sales-customers:
    image: "{{ docker_account }}/viasoft.sales.customers:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.Customers-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
  
  viasoft.commercialproposal-gateway:
    image: "{{ docker_account }}/viasoft.sales.commercialproposal.gateway:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CommercialProposal.Gateway-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
  
  viasoft.vendas-core:
    image: "{{ docker_account }}/viasoft.vendas.core:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Vendas.Core-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC- URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-legacy-vendas:
    image: "{{ docker_account }}/korp.legacy.vendas:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Korp.Legacy.Vendas-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC- URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
