- name: Garantia da existência dos diretórios de volumes de minio-server
  ansible.builtin.include_role:
    name: utils
    tasks_from: services/ensure_volume_folder
  vars:
    volume_path: "{{ item }}"
  loop:
    - "{{ dados_docker_dir_path }}/minio-server"

- name: Definição de variáveis
  ansible.builtin.set_fact:
    services: "{{ (lookup('ansible.builtin.template', 'vars/main.yml') | from_yaml)['services'] }}"

- name: Adição de serviços de infrastructure-desktop
  ansible.builtin.include_role:
    name: utils
    tasks_from: services/add_service
  vars:
    service_name: "{{ item.key }}"
    id: infrastructure-desktop
    skip_app_register: true
  with_dict: "{{ services }}"
  loop_control:
    extended: true
