IF NOT EXISTS(SELECT * FROM sys.databases WHERE name = '{{ db_name }}')
BEGIN
    CREATE DATABASE [{{ db_name }}]
END
SELECT 1
GO

USE [{{ db_name }}]
IF ( 
    NOT EXISTS (
        SELECT [name] FROM [sys].[database_principals] WHERE [type] = N'S' AND [name] = N'{{ mssql.korp_user }}'
    )
)
AND (
    NOT EXISTS (
        SELECT name AS 'database', suser_sname(owner_sid) AS 'owner' FROM sys.databases WHERE suser_sname(owner_sid) ='{{ mssql.korp_user }}' AND name = '{{ db_name }}'
    )
)
BEGIN
	CREATE USER [{{ mssql.korp_user }}] FOR LOGIN [{{ mssql.korp_user }}]
	ALTER USER [{{ mssql.korp_user }}] WITH DEFAULT_SCHEMA=[dbo]
	ALTER ROLE [db_owner] ADD MEMBER [{{ mssql.korp_user }}]
END
SELECT 1