version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql: $DB_MSSQL"
  - "app_server: $APP_SERVER"
  - "korp-api: $API_GATEWAY"
  - "korp: $PORTAL_GATEWAY"
  - "korp-cdn: $CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-contabil-dre:
    image: "korp/viasoft.contabil.dre:1.3.x"
    container_name: "Viasoft.Contabil.Dre"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http: //consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-contabil-gateway:
    image: "korp/viasoft.contabil.gateway:1.2.x"
    container_name: "Viasoft.Contabil.Gateway"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http: //consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  CON51_W:
    image: "korp/viasoft.contabil.core-frontend:1.2.x"
    container_name: "CON51_W"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"