version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  korp-legacy-elt-2023-4-0:
    image: "{{ docker_account }}/korp.legacy.elt:2023.4.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Legacy.ELT-2023.4.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
  
  viasoft-customer-portifolio-2023-4-0:
    image: "{{ docker_account }}/viasoft.customer.portifolio:2023.4.0.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Customer.Portifolio-2023.4.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  SYNC01-2023-4-0:
    image: "{{ docker_account }}/viasoft.erp.sync-frontend:2023.4.0.x{{ docker_image_suffix }}"
    container_name: "SYNC01-2023.4.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - GATEWAY_URL={{ frontend.endpoints.gateway_url }}
      - CDN_URL={{ frontend.endpoints.cdn_url }}
      - FRONTEND_URL={{ frontend.endpoints.frontend_url }}
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"