- name: Instalação de dependências padrões
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    # Bibliotecas usadas pelo Ansible para usar o Consul
    - python-consul
    - requests
    # Bibliotecas usadas pelo Ansible para rodar querys no SQL Server
    - pymssql

- name: Configuração de certificado padrão
  block:
  - name: Provisão da CA para geração do certificado
    ansible.builtin.import_tasks: ca_certificate.yml

  - name: Provisão do certificado assinado pela CA
    ansible.builtin.import_tasks: self_signed_certificate.yml

  when: certs.self_signed.certificate

- name: Configuração de certificado customizado
  ansible.builtin.import_tasks: custom_cert.yml
  when: certs.custom.certificate

- name: Configuração de arquivos e pastas
  ansible.builtin.import_tasks: files_and_folders_setup.yml

- name: Criação e inicialização de infrastructure-compose
  community.docker.docker_compose:
    project_src: "{{ compose_dir_path }}/"
    env_file: "{{ docker_env_file_path }}"
    files:
      - infrastructure-compose.yml

# Configuração de certificado vem depois de configuração do compose pois é necessário nginx para configurá-lo
- name: Configuração de certificado automatizado
  ansible.builtin.import_tasks: certbot.yml
  when: certs.certbot_automated.certificate

# TODO - Cronjob deve ter horário customizável

# RENOVAÇÃO DE CERTIFICADO
#
# A renovação de certificado, e rotação de logs funcionam da seguinte forma:
#
# É criado cronjob que executa o script 'cert_renew.sh'
# script primeiramente faz a rotação de logs com logrotate, usando o arquivo 'korp_cert_renew' como base
#   rotação de logs rotaciona o arquivo 'certs_reload.log'(atualizado quando o certificado é alterado)
#   rotação de logs rotaciona o arquivo 'self_signed_renew.log' quando a modalidade do certificado é autoassinado
#   não há rotação de log para o certbot(pois certbot já faz isso automaticamente) e para certificado customizado
# após a rotação de logs, é executando o comando de renovação de certificado
#   execução de certbot no caso de certificado provisionado por ele
#   execução do playbook 'self_signed_renew-playbook.yml' no caso de autoassinado
#   não há renovação de certificado customizado, pois ele deve ser feito manualmente

# cronjob é criado em '/var/spool/cron/crontabs/korp'
- name: Criação de cronjob para renovação de certificados
  ansible.builtin.cron:
    name: "korp cert renew"
    hour: "1"
    minute: "0"
    user: "{{ linux_korp.user }}"
    job: "{{ korp_dir_path }}/scripts/cert_renew.sh"

- name: Adição de rotação de logs para renovação de certificados
  ansible.builtin.template:
    dest: "{{ korp_dir_path }}/logrotate.d/korp_cert_renew"
    src: "logrotate/korp_cert_renew.j2"
    owner: root
    group: root
    # Arquivo não pode ser escrito pelo grupo ou por outros por causa das politicas de 'logrotate'
    mode: '0644'
  become: true
  become_user: root

################################################################

- name: Criação de usuário de uso da korp no SQL Server - Produção
  community.general.mssql_script:
    login_user: "{{ mssql.default_user }}"
    login_password: "{{ mssql.default_password }}"
    login_host: "{{ mssql.address }}"
    name: master
    script: "{{ lookup('template', 'sql/create_user.j2') | string }}"
  vars:
    mssql_user: "{{ mssql.korp_user }}"
    mssql_pass: "{{ mssql.korp_password }}"

- name: Criação de usuário de uso da korp no SQL Server - Testing
  community.general.mssql_script:
    login_user: "{{ testing_mssql.default_user }}"
    login_password: "{{ testing_mssql.default_password }}"
    login_host: "{{ testing_mssql.address }}"
    name: master
    script: "{{ lookup('template', 'sql/create_user.j2') | string }}"
  vars:
    mssql_user: "{{ testing_mssql.korp_user }}"
    mssql_pass: "{{ testing_mssql.korp_password }}"

- name: Criação e configuração de usuário no rabbitmq
  ansible.builtin.import_tasks: rabbitmq_user.yml

- name: Criação de usuário de uso da korp no Postgres
  community.postgresql.postgresql_user:
    db: postgres
    login_host: "{{ postgres.address }}"
    name: "{{ postgres.korp_user }}"
    password: "{{ postgres.korp_password }}"
    login_user: "{{ postgres.default_user }}"
    login_password: "{{ postgres.default_password }}"
    role_attr_flags: LOGIN,SUPERUSER,CREATEDB,CREATEROLE,INHERIT,REPLICATION

# TODO
# - name: Configuração de minio da nuvem
#   ansible.builtin.import_tasks: minio_config.yml

- name: "Garantia de kv no consul para Global"
  ansible.builtin.include_role:
    name: utils
    tasks_from: 'consul_kv/ensure_kv'
  vars:
    service_name: Global

- name: Configuração de fabio pelo consul
  ansible.builtin.import_tasks: fabio_config.yml
