- name: Criação de arquivo de senha para o certificado, que será utilizado pelo NGINX
  ansible.builtin.copy:
    dest: "{{ certs_directory }}/cert.pass"
    mode: '0744'
    content: |
      {{ certs.self_signed.passphrase }}

- name: Geração de chave privada para o certificado assinado pela CA (RSA, 2048)
  community.crypto.openssl_privatekey:
    owner: "{{ linux_korp.user }}"
    size: 2048
    type: RSA
    path: "{{ cert_privatekey_path }}"    
    passphrase: "{{ certs.self_signed.passphrase }}"
    cipher: auto
    backup: true

- name: Geração de CSR (certificate signing request) para geração do certificado assinado pela CA
  community.crypto.openssl_csr:
    path: "{{ certs_directory }}/cert.csr"
    privatekey_path: "{{ cert_privatekey_path }}"
    privatekey_passphrase: "{{ certs.self_signed.passphrase }}"
    country_name: BR
    state_or_province_name: Parana
    locality_name: Curitiba
    organization_name: Korp Informatica LTDA
    common_name: Korp Informatica
    key_usage:
      - digitalSignature
      - keyEncipherment
    key_usage_critical: true
    basic_constraints:
      - 'CA:FALSE'
    basic_constraints_critical: true
    extended_key_usage:
      - serverAuth
      - clientAuth
    extended_key_usage_critical: true
    create_subject_key_identifier: true
    subject_alt_name:
      - "DNS:{{ dns.frontend }}"
      - "DNS:{{ dns.api }}"
      - "DNS:{{ dns.cdn }}"
    backup: true

- name: Geração do certificado assinado pela CA
  community.crypto.x509_certificate:
    path: "{{ cert_crt_path }}"    
    csr_path: "{{ certs_directory }}/cert.csr"
    provider: ownca
    ownca_path: "{{ self_signed_ca_cert_path }}"
    ownca_privatekey_path:  "{{ self_signed_ca_cert_privatekey_path }}"
    ownca_privatekey_passphrase: "{{ certs.self_signed.passphrase }}"
    ownca_not_after: +10d
    ownca_not_before: "-1d"
    backup: true

- name: Geração de PFX do certificado auto-assinado
  community.crypto.openssl_pkcs12:
    action: export
    path: "{{ cert_pfx_path }}"
    passphrase: "{{ certs.pfx_passphrase  }}"
    certificate_path: "{{ cert_crt_path }}"
    privatekey_path: "{{ cert_privatekey_path }}"
    privatekey_passphrase: "{{ certs.self_signed.passphrase }}"
    friendly_name: korp.com.br
    backup: true
  register: status

- name: Reinício do container nginx
  ansible.builtin.import_tasks: nginx_restart.yml  
  when: status.changed

# cronjob é criado em '/var/spool/cron/crontabs/korp'
- name: Criação de cronjob customizado para certbot
  ansible.builtin.cron:
    name: "certbot custom"
    hour: "1"
    job: "/etc/korp/scripts/cert_renew.sh"
