- name: Criação do diretório em que as os arquivos de certificado ficarão
  ansible.builtin.file:
    path: "{{ self_signed_certs_directory }}/"
    state: directory
    mode: '0755'

- name: Criação de arquivo de senha para o certificado, que será utilizado pelo NGINX
  ansible.builtin.copy:
    dest: "{{ self_signed_certs_directory }}/cert.pass"
    mode: '0744'
    content: |
      {{ self_signed_cert.passphrase }}

- name: Geração de chave privada para o certificado assinado pela CA (RSA, 2048)
  community.crypto.openssl_privatekey:
    size: 2048
    type: RSA
    path: "{{ self_signed_cert_privatekey_path }}"    
    passphrase: "{{ self_signed_cert.passphrase }}"
    cipher: auto
    backup: true

- name: Geração de CSR (certificate signing request) para geração do certificado assinado pela CA
  community.crypto.openssl_csr:
    path: "{{ self_signed_certs_directory }}/cert.csr"
    privatekey_path: "{{ self_signed_cert_privatekey_path }}"
    privatekey_passphrase: "{{ self_signed_cert.passphrase }}"
    country_name: BR
    state_or_province_name: Parana
    locality_name: Curitiba
    organization_name: Korp Informatica LTDA
    common_name: Korp Informatica
    key_usage:
      - digitalSignature
      - keyEncipherment
    key_usage_critical: true
    basic_constraints:
      - 'CA:FALSE'
    basic_constraints_critical: true
    extended_key_usage:
      - serverAuth
      - clientAuth
    extended_key_usage_critical: true
    create_subject_key_identifier: true
    subject_alt_name:
      - "DNS:{{ frontend.dns.frontend }}"
      - "DNS:{{ frontend.dns.api }}"
      - "DNS:{{ frontend.dns.cdn }}"
    backup: true

- name: Geração de PFX do certificado auto-assinado
  community.crypto.openssl_pkcs12:
    action: export
    path: "{{ self_signed_cert_pfx_path }}"
    passphrase: "{{ self_signed_cert.passphrase }}"
    certificate_path: "{{ self_signed_cert_path }}"
    privatekey_path: "{{ self_signed_cert_privatekey_path }}"
    privatekey_passphrase: "{{ self_signed_cert.passphrase }}"
    friendly_name: korp.com.br
    backup: true

- name: Geração do certificado assinado pela CA
  community.crypto.x509_certificate:
    path: "{{ self_signed_cert_path }}"    
    csr_path: "{{ self_signed_certs_directory }}/cert.csr"
    provider: ownca
    ownca_path: "{{ self_signed_ca_cert_path }}"
    ownca_privatekey_path:  "{{ self_signed_ca_cert_privatekey_path }}"
    ownca_privatekey_passphrase: "{{ self_signed_cert.passphrase }}"
    ownca_not_after: +365d
    ownca_not_before: "-1d"
    backup: true