{% if certs.certbot_automated.certificate %}

/usr/bin/certbot renew --config-dir {{ certs_directory }}/letsencrypt/ --logs-dir {{ certs_directory }}/letsencrypt/logs --work-dir {{ certs_directory }}/letsencrypt/lib

{% elif certs.self_signed.certificate %}

/usr/bin/ansible-playbook ./roles/infrastructure/files/configs/playbooks/self_signed_renew-playbook.yml \
  --limit localhost \
  --vault-id /etc/korp/ansible/.vault_key

# /usr/bin/ansible-pull -U https://github.com/viasoftkorp/KorpSetupLinux.git roles/infrastructure/playbooks/self_signed_renew-playbook.yml \
#   -C master \
#   --limit localhost \
#   --vault-id /etc/korp/ansible/.vault_key

{% elif certs.custom.certificate %}

{% endif %}