{% if certs.certbot_automated.certificate %}

## certbot_automated

/usr/bin/certbot renew --config-dir {{ certs_directory }}/letsencrypt/ --logs-dir {{ certs_directory }}/logs --work-dir {{ certs_directory }}/letsencrypt/lib

{% elif certs.self_signed.certificate %}

## self_signed

# sudo touch {{ certs_directory }}/logs/self_signed_renew.log;
# ANSIBLE_LOG_PATH={{ certs_directory }}/logs/self_signed_renew.log; /usr/bin/ansible-playbook /home/ansible-dev/roles/infrastructure/files/configs/playbooks/self_signed_renew-playbook.yml \
#   --limit localhost \
#   --vault-id /etc/korp/ansible/.vault_key

# TODO - remover comentário / branch

sudo touch {{ certs_directory }}/logs/self_signed_renew.log;
ANSIBLE_LOG_PATH={{ certs_directory }}/logs/self_signed_renew.log; /usr/bin/ansible-pull -U https://github.com/viasoftkorp/KorpSetupLinux.git self_signed_renew-playbook.yml \
  -C DEVOPS-444 \
  --limit localhost \
  --vault-id /etc/korp/ansible/.vault_key \
  >> {{ certs_directory }}/logs/self_signed_renew.log 2>&1

{% elif certs.custom.certificate %}

## custom
#  não há script de atualização de certificado nessa modalidade

{% endif %}