{
  "Authorization": {
    "Secret": "{{ secret }}"
  },
  "ServiceBus": {
    "StorageConnectionString": "Server=db_mssql; Database=Viasoft_Legacy_Logistica; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; MultipleActiveResultSets=true; Encrypt=False"
  },
  "EnableEnvironmentDependentConnectionString": "true"
}