# parâmetros enviados:
#   db_name: string
#
# Exemplo de uso:
#
#   - name: Criação de db
#     ansible.builtin.include_role:
#       name: utils
#       tasks_from: create_db/postgres
#     vars:
#       db_name: test.database

- name: "Criação de database {{ db_name }} em PostgreSql"
  community.postgresql.postgresql_db:
    name: "{{ db_name }}"
    owner: "{{ postgres.korp_user }}"
    login_host: "{{ postgres.address }}"
    port: "5432"
    login_user: "{{ postgres.korp_user }}"
    login_password: "{{ postgres.korp_password }}"
