{
  "Authorization": {    
    "Secret": "{{ secret }}"
  },
  "EnableEnvironmentDependentConnectionString": true,
  "DatabaseLicenciamentos": "/app/Db/LicenciamentosIndexador.db",  
  "ExecutarIndexadorAoIniciar": true
}