# Este compose NÃO é iniciado pela role temporal.
# Para subir a UI (após o Temporal estar saudável):
#   docker compose -f {{ compose_dir_path }}/temporal-ui-compose.yml up -d
networks:
  servicos:
    name: servicos
    external: true

services:
  temporal-ui:
    container_name: temporal-ui
    image: temporalio/ui:{{ temporal_ui_version }}
    restart: always
    environment:
      - TEMPORAL_ADDRESS=temporal:7233
      - TEMPORAL_CORS_ORIGINS=http://localhost:3000
    networks:
      - servicos
    expose:
      - 8080

  nginx-temporal:
    container_name: nginx-temporal
    image: nginx:{{ temporal_nginx_version }}
    restart: always
    ports:
      - "18801:80"
    volumes:
      - {{ config_dir_path }}/temporalio/nginx/nginx.conf:/etc/nginx/nginx.conf
      - {{ config_dir_path }}/temporalio/nginx/basic_auth_temporal_ui:/etc/nginx/.htpasswd
    networks:
      - servicos
    depends_on:
      - temporal-ui
