{
  "secret_key": "{{ services_secrets.Others.SentryRelay.Credentials.SecretKey }}",
  "public_key": "{{ services_secrets.Others.SentryRelay.Credentials.PublicKey }}",
  "id": "{{ services_secrets.Others.SentryRelay.Credentials.Id }}"
}