server {
    listen 80;

    server_name {{ dns.api }}
                {{ dns.cdn }}
                {{ dns.frontend }}
                {{ dns.api_gateway }}
                ;

    location /.well-known/acme-challenge/ {
        root /letsencrypt/;
    }

    location / {
        root /usr/share/nginx/html;

        error_page 404 /404.html;
        return 404;
    }
}