server {
    listen 80;

    server_name {{ dns.api }}
                {{ dns.cdn }}
                {{ dns.frontend }}
                ;

    location /.well-known/acme-challenge/ {
        root /letsencrypt/;
    }

    location / {
        try_files $uri $uri/ = 404;
    }
}