{% if reverse_proxy.external %}
server {
    listen {{ reverse_proxy.http_ports.cdn }};

    include /etc/nginx/conf.d/korp-cdn.locations;
}
{% endif %}

server {
    server_name {{ dns.cdn }};

    include /etc/nginx/ssl_conf;

    include /etc/nginx/conf.d/korp-cdn.locations;
}
