USE [{{ db_name }}]

IF NOT EXISTS (SELECT *   FROM [dbo].[PARAMETROS]
                WHERE CHAVE = 'IntegrarEventosSistema')
BEGIN
    INSERT INTO [dbo].[PARAMETROS] (SECAO, CHAVE, VALOR)
    VALUES ('Sistema', 'IntegrarEventosSistema', 'T')
END
ELSE
BEGIN
   UPDATE [dbo].[PARAMETROS] 
	SET VALOR = 'T' 
	WHERE SECAO = 'Sistema' AND CHAVE = 'IntegrarEventosSistema';
END 

SELECT 1;