IF NOT EXISTS (SELECT *   FROM [dbo].[PARAMETROS]
                WHERE CHAVE = 'IntegrarEventosSistema')
BEGIN
    INSERT INTO [dbo].[PARAMETROS] (SECAO, CHAVE, VALOR)
    VALUES ('Sistema', 'IntegrarEventosSistema', '{{ query_value }}')
END
ELSE
BEGIN
   UPDATE [dbo].[PARAMETROS] 
	SET VALOR = '{{ query_value }}' 
	WHERE SECAO = 'Sistema' AND CHAVE = 'IntegrarEventosSistema';
END 

SELECT 1;