- name: checagem de compose - versionado
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/roles/{{ id }}/templates/composes/{{ version_without_build }}/{{ id }}-compose.yml.j2"
  register: versioned_compose_result
  become: false

- name: checagem de compose - não versionado
  ansible.builtin.stat:
    path: "{{ playbook_dir }}/roles/{{ id }}/templates/composes/{{ id }}-compose.yml.j2"
  register: unversioned_compose_result
  become: false

- name: "configuração e transferência de arquivos de compose de {{ id }} - versionado"
  ansible.builtin.template:
    dest: "{{ versioned_compose_dir_path }}/{{ compose_name[:-3] | basename }}"
    src: "composes/{{ version_without_build }}/{{ compose_name | basename }}"
    owner: "{{ linux_korp.user }}"
    group: root
    mode: '0644'
  loop:
    "{{ lookup('fileglob', 'templates/composes/{{ version_without_build }}/*', wantlist=True) | select('search','.yml.j2') }}"
  loop_control:
    loop_var: compose_name
  when: versioned_compose_result.stat.exists

- name: "configuração e transferência de arquivos de compose de {{ id }} - não versionado"
  ansible.builtin.template:
    dest: "{{ compose_dir_path }}/{{ compose_name[:-3] | basename }}"
    src: "composes/{{ compose_name | basename }}"
    owner: "{{ linux_korp.user }}"
    group: root
    mode: '0644'
  loop:
    "{{ lookup('fileglob', 'templates/composes/*', wantlist=True) | select('search','.yml.j2') }}"
  loop_control:
    loop_var: compose_name
  when: unversioned_compose_result.stat.exists

- name: "criação e inicialização de {{ id }}-compose - versionado"
  community.docker.docker_compose:
    project_src: "{{ versioned_compose_dir_path }}/"
    env_file: "{{ docker_env_file_path }}"
    files:
      - "{{ id }}-compose.yml"
  when: versioned_compose_result.stat.exists

- name: criação e inicialização de {{ id }}-compose - não versionado"
  community.docker.docker_compose:
    project_src: "{{ compose_dir_path }}/"
    env_file: "{{ docker_env_file_path }}"
    files:
      - "{{ id }}-compose.yml"
  when: unversioned_compose_result.stat.exists
