- name: Definição de variáveis
  ansible.builtin.set_fact:
    services: "{{ (lookup('ansible.builtin.template', 'vars/main.yml') | from_yaml)['services'] }}"

- name: Adição de serviços de workflow
  ansible.builtin.include_role:
    name: utils
    tasks_from: services/add_service
  vars:
    service_name: "{{ item.key }}"
    id: workflow
  with_dict: "{{ services }}"
  loop_control:
    extended: true

# Task necessária pois cliente do Workflow é inserido pelo prório Viasoft.Authentication
# Isso é uma gambiarra, e deve ser corrigida quando possível
- name: Reinício do container Viasoft.Authentication 
  community.docker.docker_compose_v2:
    project_src: "{{ compose_dir_path }}/"
    env_files: ["{{ docker_env_file_path }}"]
    restarted: true
    files:
      - infrastructure-identity-compose.yml
