version: "3.8"

networks:
  servicos:
    external:
      name: servicos

services:
  consul-server:
    image: "consul:1.12"
    container_name: "consul-server"
    restart: always
    command: "agent -server -bootstrap-expect=1"
    ports:
      - "8300:8300"
      - "8301:8301/tcp"
      - "8301:8301/udp"
      - "8500:8500"
      - "8600:8600/tcp"
      - "8600:8600/udp"
    volumes:
      - "{{ korp_dir_path }}/configs/consul-server.json:/consul/config/server.json"
      - "{{ dados_docker_dir_path }}/consul-server/:/consul/data/"
    networks:
      - servicos

  nginx:
    image: "nginx:latest"
    container_name: "nginx"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ korp_dir_path }}/configs/nginx/ssl_conf:/etc/nginx/ssl_conf
      - {{ korp_dir_path }}/configs/nginx/conf.d/:/etc/nginx/conf.d/
      - {{ self_signed_certs_directory }}/:/etc/nginx/certs/
    networks:
      - servicos

  fabio:
    image: "fabiolb/fabio:latest"
    container_name: "fabio"
    restart: always
    depends_on:
      - consul-server
    extra_hosts:
      db_mssql: "$DB_MSSQL"
    environment:
      - registry_consul_addr=http://consul-server:8500
      - proxy_matcher=iprefix
    ports:
      - "9999:9999"
      - "9998:9998"
    networks:
      - servicos

  {{ postgres_container_name }}:
    image: "postgres:14"
    container_name: "{{ postgres_container_name }}"
    restart: always
    environment:
      - POSTGRES_PASSWORD={{ postgres.default_password }}
    ports:
      - "5432:5432"
    volumes:
      - "{{ dados_docker_dir_path }}/{{ postgres_container_name }}/:/var/lib/postgresql/data"
    networks:
      - servicos

  {{ rabbitmq_container_name }}:
    image: "korp/rabbitmq:1.1.0"
    container_name: "{{ rabbitmq_container_name }}"
    # não remover esse hostname porque o RABBITMQ utiliza o hostname da máquina para compor as pastas internas
    # e cada vez que um container inicia, seu nome é alterado caso não esteja especificado
    hostname: "rabbitmq" 
    restart: always
    depends_on:
      - consul-server
    environment:
      - TCP_PORTS=15672,5672
      - RABBITMQ_NODENAME=rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - "{{ dados_docker_dir_path }}/{{ rabbitmq_container_name }}/:/var/lib/rabbitmq"
    networks:
      - servicos

  {{ redis_container_name }}:
    image: "redis:7.0"
    container_name: "{{ redis_container_name }}"
    hostname: "redis"
    restart: always
    depends_on:
      - consul-server
    command: "redis-server /usr/local/etc/redis/redis.conf"
    sysctls:
      net.core.somaxconn: 1024
    networks:
      - servicos
    ports:
      - "6379:6379"
    volumes:
      - "{{ korp_dir_path }}/configs/redis.conf:/usr/local/etc/redis/redis.conf"
