version: "3.8"

networks:
  servicos:
    external:
      name: servicos

services:
  

# Viasoft.AuditTrail.Client
# Viasoft.Email
# Korp.Legacy.Authentication
# Viasoft.Legacy.HTTPProxy
# Viasoft.Licensing.LicenseServer
# Viasoft.WelcomePage.Dashboard
# Viasoft.ObjectStorage.Client
# Minio (o caminho disso daqui deverá ser discutido porque é aqui que ficam os arquivos do object storage, o cliente deverá fazer backup da pasta) - não deve deixar alterar pela UI, segundo Alexandre para alterar esse caminho é por config
# Viasoft.SystemUpdate

