version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  nginx:
    image: "nginx:latest"
    container_name: "nginx"
    restart: always
    extra_hosts: *default-extra_hosts
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - {{ config_dir_path }}/nginx/ssl_conf:/etc/nginx/ssl_conf
      - {{ config_dir_path }}/nginx/conf.d/:/etc/nginx/conf.d/
      - {{ certs_directory }}/:/etc/nginx/certs/
      {% if certs.certbot_automated.certificate %}
        - {{ certbot_dir_path }}/:{{ certbot_dir_path }}/
      {% endif %}
    networks:
      - servicos
    labels:
      com.centurylinklabs.watchtower.enable: false
