version: "3.8"

services:
  pgweb:
    container_name: pgweb
    restart: "no"
    image: sosedoff/pgweb:0.14.2
    ports: 
      - "50420:8081"
    networks:
      - servicos
    labels:
      com.centurylinklabs.watchtower.enable: false