version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  korp-vendas-custoproduto-2023-4-0:
    image: "{{ docker_account }}/korp.vendas.custoproduto:2023.4.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Vendas.CustoProduto-2023.4.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-sales-pricecontrol-2023-4-0:
    image: "{{ docker_account }}/korp.sales.pricecontrol:2023.4.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Sales.PriceControl-2023.4.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-vendas-listapreco-2023-4-0:
    image: "{{ docker_account }}/korp.vendas.listapreco:2023.4.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Vendas.ListaPreco-2023.4.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
