version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql: $DB_MSSQL"
  - "app_server: $APP_SERVER"
  - "korp-api: $API_GATEWAY"
  - "korp: $PORTAL_GATEWAY"
  - "korp-cdn: $CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-objectstorage-client:
    image: "korp/viasoft.objectstorage.client:1.5.x"
    container_name: "Viasoft.ObjectStorage.Client"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    depends_on:
      - minio-server
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos
