version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ frontend.dns.api }}:$API_GATEWAY"
  - "{{ frontend.dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ frontend.dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  korp-logistica-picking-2022-2-0:
    image: "{{ docker_account }}/korp.logistica.picking:2022.2.0.x"
    container_name: "Korp.Logistica.Picking-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  korp-logistic-picking-analisedeestoque-2022.2.0:
    image: "{{ docker_account }}/korp.logistica.picking.analisedeestoque:2022.2.0.x"
    container_name: "Korp.Logistica.Picking.AnaliseDeEstoque-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  korp-logistica-picking-controlepedidos-2022-2-0:
    image: "{{ docker_account }}/korp.logistica.picking.controlepedidos:2022.2.0.x"
    container_name: "Korp.Logistica.Picking.ControlePedidos-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  korp-logistica-picking-faturamento-2022-2-0:
    image: "{{ docker_account }}/korp.logistica.picking.faturamento:2022.2.0.x"
    container_name: "Korp.Logistica.Picking.Faturamento-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  korp-logistica-picking-ordemproducao-2022-2-0:
    image: "{{ docker_account }}/korp.logistica.picking.ordemproducao:2022.2.0.x"
    container_name: "Korp.Logistica.Picking.OrdemProducao-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  korp-faturamento-solicitacaodefaturamento-2022-2-0:
    image: "{{ docker_account }}/korp.faturamento.solicitacaodefaturamento:2022.2.0.x"
    container_name: "Korp.Faturamento.SolicitacaoDeFaturamento-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  LOG102-2022-2-0:
    image: "{{ docker_account }}/korp.logistica.picking-frontend:2022.2.0.x"
    container_name: "LOG102-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - GATEWAY_URL={{ frontend.endpoints.gateway_url }}
      - CDN_URL={{ frontend.endpoints.cdn_url }}
      - FRONTEND_URL={{ frontend.endpoints.frontend_url }}
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
