# - name: Instalação de dependências
#   ansible.builtin.apt:
#     name: "{{ item }}"
#     state: present
#     update_cache: true
#   loop:
#     - apt-transport-https
#     - ca-certificates
#     - curl
#     - gnupg-agent
#     - software-properties-common

- name: Adição de chave GPG
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: Adição de repositório do docker
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

# - name: Instalação de docker
#   ansible.builtin.apt:
#     name: "{{ item }}"
#     update_cache: true
#   loop:
#     - docker-ce
#     - docker-ce-cli
#     - containerd.io
#     - docker-buildx-plugin
#     - docker-compose-plugin

- name: Configuração de inicialização de docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: Criação de grupo docker
  ansible.builtin.group:
    name: docker
    state: present

- name: Adição de korp no grupo docker
  ansible.builtin.user:
    name: "{{ linux_korp.user }}"
    groups: docker
    append: true

- name: Instalação de docker-compose
  ansible.builtin.get_url:
    url: https://github.com/docker/compose/releases/download/v2.5.1/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x'

- name: Alteração de permissão de docker-compose
  ansible.builtin.file:
    path: /usr/local/bin/docker-compose
    owner: root
    group: root

- name: Configuração de docker daemon
  ansible.builtin.copy:
    dest: /etc/docker/daemon.json
    src: configs/daemon.json
    owner: "{{ linux_korp.user }}"
    group: root
    mode: '0644'
  notify:
    - Reinicio de Docker

# Bibliotecas usadas pelo Ansible para usar o docker
- name: Instalação de docker com python
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    - docker==7.0.0

- name: Criação de network 'servicos' no docker
  community.docker.docker_network:
    name: servicos
    ipam_config:
      - subnet: "{{ docker_servicos_network_ip_address_start | default ('172.18') }}.0.0/16"
        iprange: "{{ docker_servicos_network_ip_address_start | default ('172.18') }}.0.0/17"
