- name: instalação de dependências
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
    update_cache: true
  loop:
    - apt-transport-https
    - ca-certificates
    - curl
    - gnupg-agent
    - software-properties-common

- name: adição de chave GPG
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present

- name: adição de repositório do docker
  ansible.builtin.apt_repository:
    repo: deb https://download.docker.com/linux/ubuntu bionic stable
    state: present

- name: instalação de docker
  ansible.builtin.apt:
    name: "{{ item }}"
    update_cache: true
  loop:
    - docker-ce
    - docker-ce-cli
    - containerd.io

- name: configuração de inicialização de docker
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true

- name: criação de grupo docker
  ansible.builtin.group:
    name: docker
    state: present

- name: adição de korp no grupo docker
  ansible.builtin.user:
    name: "{{ linux_korp.user }}"
    groups: docker
    append: true

- name: instalação de docker-compose
  ansible.builtin.get_url:
    url: https://github.com/docker/compose/releases/download/v2.5.1/docker-compose-linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: 'u+x,g+x'

- name: alteração de permissão de docker-compose
  ansible.builtin.file:
    path: /usr/local/bin/docker-compose
    owner: root
    group: root

# Bibliotecas usadas pelo Ansible para usar o docker
- name: instalação de docker com python
  ansible.builtin.pip:
    name: "{{ item }}"
  loop:
    - docker
    - docker-compose

- name: criação de network 'servicos' no docker
  community.docker.docker_network:
    name: servicos
