- name: apt clean
  apt:
    clean: true

- name: atualização de cache do repositório
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    force_apt_get: true

- name: instalação de dependências padrões
  ansible.builtin.apt:
    name: "{{ item }}"
    state: present
  loop:
    - python3
    - python3-pip

- name: Setup do Docker
  import_tasks: docker_setup.yml

- name: criação de network 'servicos' no docker
  community.docker.docker_network:
    name: servicos

- name: criação de volume secret-manager no docker
  community.docker.docker_volume:
    name: secret-manager
