- name: instalação de pacote de zabbix
  ansible.builtin.apt:
    deb: 

- name: Download de pacote de zabbix
  ansible.builtin.get_url:
    url: https://repo.zabbix.com/zabbix/6.2/ubuntu/pool/main/z/zabbix-release/zabbix-release_6.2-1+ubuntu22.04_all.deb
    dest: /tmp/zabbix.deb

- name: Instalação de pacote de zabbix
  ansible.builtin.apt:
    deb: /tmp/zabbix.deb

- name: Atualização de cache do repositório
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 3600
    force_apt_get: true

- name: Instalação de zabbix-agent2
  ansible.builtin.apt:
    name: zabbix-agent2
    state: present

- name: Verificação de diretório de certs
  ansible.builtin.stat:
    path: "{{ korp_dir_path }}/certs/"
  register: korp_certs_folder

- name: Criação de diretório de certs
  ansible.builtin.file:
    path: "{{ korp_dir_path }}/certs/"
    state: directory
    mode: '0755'
    owner: "{{ linux_korp.user }}"
    group: root
  when: not korp_certs_folder.stat.exists

- name: Criação de arquivo de contendo a PSK de zabbix-agent2
  ansible.builtin.copy:
    dest: "{{ korp_dir_path }}/certs/zabbix.psk"
    owner: "root"
    mode: '0444'
    content: "{{ services_secrets.Others.Zabbix.PSK.Key }}"

- name: Configuração de zabbix-agent2
  ansible.builtin.template:
    dest: "/etc/zabbix/zabbix_agent2.d/korp-default.conf"
    src: "configs/zabbix-agent.conf.j2"
    owner: "{{ linux_korp.user }}"
    group: root
    mode: '0644'
  notify: Reinicio de zabbix-agent2
