version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  korp-logistica-picking-2023-2-0:
    image: "{{ docker_account }}/korp.logistica.picking:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Logistica.Picking-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-logistic-picking-analisedeestoque-2023.2.0:
    image: "{{ docker_account }}/korp.logistica.picking.analisedeestoque:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Logistica.Picking.AnaliseDeEstoque-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-logistica-picking-controlepedidos-2023-2-0:
    image: "{{ docker_account }}/korp.logistica.picking.controlepedidos:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Logistica.Picking.ControlePedidos-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-logistica-picking-faturamento-2023-2-0:
    image: "{{ docker_account }}/korp.logistica.picking.faturamento:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Logistica.Picking.Faturamento-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-logistica-picking-ordemproducao-2023-2-0:
    image: "{{ docker_account }}/korp.logistica.picking.ordemproducao:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Logistica.Picking.OrdemProducao-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  korp-faturamento-solicitacaodefaturamento-2023-2-0:
    image: "{{ docker_account }}/korp.faturamento.solicitacaodefaturamento:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "Korp.Faturamento.SolicitacaoDeFaturamento-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  LOG102-2023-2-0:
    image: "{{ docker_account }}/korp.logistica.picking-frontend:2023.2.0.x{{ docker_image_suffix }}"
    container_name: "LOG102-2023.2.0"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      
      - GATEWAY_URL={{ frontend.endpoints.gateway_url }}
      - CDN_URL={{ frontend.endpoints.cdn_url }}
      - FRONTEND_URL={{ frontend.endpoints.frontend_url }}
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
