version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql: $DB_MSSQL"
  - "app_server: $APP_SERVER"
  - "korp-api: $API_GATEWAY"
  - "korp: $PORTAL_GATEWAY"
  - "korp-cdn: $CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  minio-server:
    image: "minio/minio:RELEASE.2020-08-16T18-39-38Z"
    container_name: "minio-server"
    command: "server /data"
    restart: always
    environment:
      - MINIO_ACCESS_KEY={{ minio.access_key }}
      - MINIO_SECRET_KEY={{ minio.secret_key }}
    volumes:
      - "{{ dados_docker_dir_path }}/minio-server/:/data"
    networks:
      - servicos
    labels:
      com.centurylinklabs.watchtower.enable: false

  viasoft-core-hybridproxy:
    image: "korp/viasoft.core.hybridproxy:1.0.x"
    container_name: "Viasoft.Core.HybridProxy"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - GATEWAY_HOST=fabio
      - ROUTES_ENDPOINT=http://fabio:9998/api/routes
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos 

  viasoft-tenantmanagement:
    image: "korp/viasoft.tenantmanagement:1.3.x"
    container_name: "Viasoft.TenantManagement"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-core-hybridproxy
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - URL_CDN=https://korp-cdn
      - URL_LOADER=https://korp
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-portal:
    image: "korp/viasoft.portal:1.5.x"
    container_name: "Viasoft.Portal"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-tenantmanagement
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - URL_CDN=https://korp-cdn
      - URL_LOADER=https://korp
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-authorization:
    image: "korp/viasoft.authorization:1.3.x"
    container_name: "Viasoft.Authorization"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-tenantmanagement
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - URL_CDN=https://korp-cdn
      - URL_LOADER=https://korp
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-notification:
    image: "korp/viasoft.notification:1.3.x"
    container_name: "Viasoft.Notification"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-administration:
    image: "korp/viasoft.administration:1.4.x"
    container_name: "Viasoft.Administration"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-tenantmanagement
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-reporting-stimulsoft:
    image: "korp/viasoft.reporting.stimulsoft:1.2.x"
    container_name: "Viasoft.Reporting.Stimulsoft"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-tenantmanagement
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-reporting:
    image: "korp/viasoft.reporting:1.4.x"
    container_name: "Viasoft.Reporting"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-tenantmanagement
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  korp-legacy-administration:
    image: "korp/korp.legacy.administration:1.2.x"
    container_name: "Korp.Legacy.Administration"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  korp-legacy-authorization:
    image: "korp/korp.legacy.authorization:2.0.x"
    container_name: "Korp.Legacy.Authorization"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-emailing:
    image: "korp/viasoft.emailing:1.1.x"
    container_name: "Viasoft.Emailing"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-emailing-emailtemplate:
    image: "korp/viasoft.emailing.emailtemplate:1.3.x"
    container_name: "Viasoft.Emailing.EmailTemplate"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-fileprovider:
    image: "korp/viasoft.fileprovider:1.5.x"
    container_name: "Viasoft.FileProvider"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - FILE_LOCATION=/app/FileProviderResource
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
      - "{{ dados_docker_dir_path }}/viasoft-fileprovider/:/app/FileProviderResource/"
    networks:
      - servicos

  viasoft-dashboard:
    image: "korp/viasoft.dashboard:1.4.x"
    container_name: "Viasoft.Dashboard"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-workflow-orchestrator:
    image: "korp/viasoft.workflow.orchestrator:1.4.x"
    container_name: "Viasoft.Workflow.Orchestrator"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-quickfilter:
    image: "korp/viasoft.quickfilter:1.2.x"
    container_name: "Viasoft.QuickFilter"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-userprofile:
    image: "korp/viasoft.userprofile:1.4.x"
    container_name: "Viasoft.UserProfile"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  viasoft-apprise-proxy:
    image: "korp/viasoft.apprise.proxy:1.1.x"
    container_name: "Viasoft.Apprise.Proxy"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  login:
    image: "korp/viasoft.authentication-frontend:1.0.x"
    container_name: "login"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  portal:
    image: "korp/viasoft.portal-frontend:3.0.x"
    container_name: "portal"
    restart: always
    extra_hosts: *default-extra_hosts
    depends_on:
      - viasoft-portal
    environment:
      - ON_PREMISE_MODE=true
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos

  ADM01:
    image: "korp/viasoft.administration-frontend:1.0.x"
    container_name: "ADM01"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
  
  viasoft-geolocation:
    image: "korp/viasoft.geolocation:1.1.x"
    container_name: "Viasoft.Geolocation"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
    networks:
      - servicos