{
  "Authorization": {
    "Secret":"{{ secret }}"
  },
  "EnableEnvironmentDependentConnectionString": "false",
  "ServiceBus": {
    "StorageConnectionString": "Server=db_mssql,1433;  Database=Default_Database; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False; MultipleActiveResultSets=true;"
  }
}