version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-sales-crm-core:
    image: "{{ docker_account }}/viasoft.sales.crm.core:4.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Core"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-crm-accounts:
    image: "{{ docker_account }}/viasoft.sales.crm.accounts:3.2.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Accounts"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
  
  viasoft-sales-crm-activities:
    image: "{{ docker_account }}/viasoft.sales.crm.activities:3.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Activities"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

    
  viasoft-sales-crm-goals:
    image: "{{ docker_account }}/viasoft.sales.crm.goals:2.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Goals"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
      
  viasoft-sales-crm-leads:
    image: "{{ docker_account }}/viasoft.sales.crm.leads:4.2.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Leads"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
        
  viasoft-sales-crm-opportunities:
    image: "{{ docker_account }}/viasoft.sales.crm.opportunities:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Opportunities-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-crm-qualification:
    image: "{{ docker_account }}/viasoft.sales.crm.qualification:4.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Qualification"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-crm-reporting:
    image: "{{ docker_account }}/viasoft.sales.crm.reporting:3.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Reporting"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-sales-crm-sync:
    image: "{{ docker_account }}/viasoft.sales.crm.sync:2.0.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.Sync"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  VEN26:
    image: "{{ docker_account }}/viasoft.sales.crm.core-frontend:3.3.x{{ docker_image_suffix }}"
    container_name: "VEN26"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - GATEWAY_URL={{ frontend.endpoints.gateway_url }}
      - CDN_URL={{ frontend.endpoints.cdn_url }}
      - FRONTEND_URL={{ frontend.endpoints.frontend_url }}
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"


  viasoft-sales-crm-nps:
    image: "{{ docker_account }}/viasoft.sales.crm.nps:3.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Sales.CRM.NPS"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC={{ use_servergc }}
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"