# essa role não deve ser chamada diretamente.
# use ensure_client.yml

- name: criação de secret
  encrypt_secret:
    uuid: "{{ secret }}"
  register: result

- name: "adição de cliente oauth para {{ service_name }}"
  vars:
    secret_as_hash: "{{ result.secret }}"
  community.general.mssql_script:
    login_user: "{{ mssql.korp_user }}"
    login_password: "{{ mssql.korp_password }}"
    login_host: "{{ mssql.address }}"
    name: Viasoft_Authentication
    script: "{{ lookup('template', 'queries/add_oauth_client.sql.j2') | string }}"
