# parâmetros recebidos:
#   service_name
#
# para usar, chame:
#  - name: adição de cliente oauth
#     ansible.builtin.include_role:
#       name: utils
#       tasks_from: oauth_client/ensure_client
#     vars:
#       service_name: nome.do.serviço

- name: leitura se secret do Consul
  community.general.consul_kv:
    key: "{{ service_name }}"
  register: value

- name: adição de cliente
  ansible.builtin.include_role:
    name: utils
    tasks_from: oauth_client/add_client
  vars:
    raw_kv: "{{ value.data.Value | from_json }}"
    secret: "{{ raw_kv.Authorization.Secret }}"
