{
    "Authorization": {
        "Secret": "{{ secret }}"
    },
    "ConnectionStrings": {
        "DefaultConnection": "sqlserver://{{ mssql.korp_user }}:{{ mssql.korp_password }}@db_mssql?database=%s&app name=Korp.Logistica.Picking.ControlePedidos"
    }
}