{
  "Authorization": {
    "Secret": "{{ secret }}"
  },
  "ServiceBus": {
    "StorageConnectionString": "Server=db_mssql; Database=Viasoft_Sales_CommercialProposal_Core; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False; MultipleActiveResultSets=true;"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=db_mssql; Database=Viasoft_Sales_CommercialProposal_Core; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False;"
  },
  "UserMensageriaParaCalculos": "false",
  "UsarMensageriaParaCalculos": "false",
  "EnableEnvironmentDependentConnectionString": "false"
}