{
  "ServiceBus": {
    "StorageConnectionString": "Server={{ mssql.address }},1433; Database={{ service_vars.db.name }}; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False; MultipleActiveResultSets=true;"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server={{ mssql.address }},1433; Database={{ service_vars.db.name }}; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False;"
  },
  "Provisioning": {
    "EnableSchemaProvisioning": "false"
  },
  "EnableEnvironmentDependentConnectionString": "true"
}