{
  "Authorization": {
    "Secret": "{{ secret }}"
  },
  "ServiceBus": {
    "StorageConnectionString": "Server=db_mssql; Database={{ service_vars.db.name }}; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False; MultipleActiveResultSets=true;"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=db_mssql; Database={{ service_vars.db.name }}; User Id={{ mssql.korp_user }}; Password={{ mssql.korp_password }}; Encrypt=False;"
  }
}