version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "app_server:$APP_SERVER"
  - "{{ frontend.dns.api }}:$API_GATEWAY"
  - "{{ frontend.dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ frontend.dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  korp-engenharia-processo-2022-2-0:
    image: "{{ docker_account }}/korp.engenharia.processo:2022.2.0.x"
    container_name: "Korp.Engenharia.Processo-2022.2.0"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ self_signed_ca_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
