version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  {{ apprise_container_name }}:
    image: "caronc/apprise:latest"
    container_name: "{{ apprise_container_name }}"
    restart: always
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ dados_docker_dir_path }}/apprise/:/config"
    labels:
      com.centurylinklabs.watchtower.enable: false

  viasoft-apprise-proxy:
    image: "{{ docker_account }}/viasoft.apprise.proxy:1.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Apprise.Proxy"
    restart: always
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
    networks:
      - servicos
