version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql: $DB_MSSQL"
  - "app_server: $APP_SERVER"
  - "korp-api: $API_GATEWAY"
  - "korp: $PORTAL_GATEWAY"
  - "korp-cdn: $CDN_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-erp-person:
    image: "korp/viasoft.erp.person:3.0.x"
    container_name: "Viasoft.ERP.Person"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-erp-person-preregistration:
    image: "korp/viasoft.erp.person.preregistration:3.0.x"
    container_name: "Viasoft.Erp.Person.Preregistration"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-erp-core:
    image: "korp/viasoft.erp.core:3.1.x"
    container_name: "Viasoft.ERP.Core"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-erp-sync:
    image: "korp/viasoft.erp.sync:2.0.x"
    container_name: "Viasoft.Erp.Sync"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-legacy-parametros:
    image: "korp/viasoft.legacy.parametros:1.1.x"
    container_name: "Viasoft.Legacy.Parametros"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-erp-activities:
    image: "korp/viasoft.erp.activities:3.1.x"
    container_name: "Viasoft.Erp.Activities"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  SYNC01:
    image: "korp/viasoft.erp.sync-frontend:1.0.x"
    container_name: "SYNC01"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"

  viasoft-organizationalstructuremanagement:
    image: "korp/viasoft.organizationalstructuremanagement:3.0.x"
    container_name: "Viasoft.OrganizationalStructureManagement"
    restart: on-failure:10
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - URL_CONSUL=http://consul-server:8500
    networks:
      - servicos
    volumes:
      - "{{ self_signed_certs_directory }}/:{{ self_signed_certs_directory }}/"
