version: "3.8"

x-extra_hosts:
  &default-extra_hosts
  - "db_mssql:$DB_MSSQL"
  - "testing_db_mssql:$TESTING_DB_MSSQL" 
  - "app_server:$APP_SERVER"
  - "{{ dns.api }}:$API_GATEWAY"
  - "{{ dns.frontend }}:$PORTAL_GATEWAY"
  - "{{ dns.cdn }}:$CDN_GATEWAY"
  - "{{ dns.api_gateway }}:$API_GATEWAY_GATEWAY"

networks:
  servicos:
    external:
      name: servicos

services:
  viasoft-erp-core:
    image: "{{ docker_account }}/viasoft.erp.core:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.ERP.Core-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-erp-sync:
    image: "{{ docker_account }}/viasoft.erp.sync:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.ERP.Sync-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-legacy-parametros:
    image: "{{ docker_account }}/viasoft.legacy.parametros:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.Legacy.Parametros-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-erp-activities:
    image: "{{ docker_account }}/viasoft.erp.activities:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.ERP.Activities-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-organizationalstructuremanagement:
    image: "{{ docker_account }}/viasoft.organizationalstructuremanagement:{{ version_without_build }}.x{{ docker_image_suffix }}"
    container_name: "Viasoft.OrganizationalStructureManagement-{{ version_without_build }}"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"

  viasoft-messagebird:
    image: "{{ docker_account }}/viasoft.messagebird:2.1.x{{ docker_image_suffix }}"
    container_name: "Viasoft.MessageBird"
    restart: unless-stopped
    extra_hosts: *default-extra_hosts
    environment:
      - ON_PREMISE_MODE=true
      - USE_SERVERGC=$USE_SERVERGC
      - URL_CONSUL=http://consul-server:8500
      - CERT_FILE_PATH={{ containers_cert_path }}
    networks:
      - servicos
    volumes:
      - "{{ certs_directory }}/:{{ certs_directory }}/"
